<!DOCTYPE html>
<html>
  <head>
    <title>Secret Message</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    Decrypted message: 'Meet at 7 Dials'
  </body>
</html>
