<!DOCTYPE html>
<html>
  <head>
    <title>Secret Message</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div class="decrypted">
      Decrypted message:<br> <%= decryptedmessage %>
    </div>
  </body>
</html>
