<!DOCTYPE html>
<html>
  <head>
    <title>Secret Message</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    Decrypted message: <%= decryptedmessage %>
  </body>
</html>
